header {
    align-content: center;
    background-color: bisque;
}
body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    align-content: flex-start;
    background-color: beige;
}
h1 {
    mask-type: alpha;
    color: black;
}
.img {
    width: 5px;
    border: double;
}
h3{
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
h2{
    font-weight: bold;
}
.footer{
    margin: 50px;
}